@import './utils/font.css';
@import './utils/keyframes.css';

body {
    background-image: url(../img/background.png);
    background-size: 100% 100%;
    background-attachment: fixed;
	overflow: hidden;
	animation: emerge 2.5s;
}

#wrapper {
    width: 5.81rem;
    height: 7.61rem;
    margin-left: 2.37rem;
	margin-top: 2.33rem;
	text-align: center;
	position: relative;
}

#wrapper .theEnd {
    width:5.81rem;
    height:4.16rem;
    font-size:2.27rem;
    font-family:French Script Mt;
    font-weight:400;
    line-height:1.58rem;
    color:rgba(237,223,229,1);
    opacity:1;
	
}

#wrapper .name {
	width:4.00rem;
	height:0.72rem;
	font-size:0.5rem;
	font-family:SourceHanSerifCN-Medium;
	font-weight:500;
	line-height:1.23rem;
	color:rgba(251,250,250,1);
	opacity:1;
	position: absolute;
	left: 1.05rem;
	top: 3.69rem;
	
}

#wrapper .input{
	width:2.15rem;
	height:0.72rem;
	font-size:0.50rem;
	font-family:SourceHanSerifCN-Medium;
	font-weight:500;
	line-height:1.23rem;
	color:rgba(237,223,229,1);
	opacity:1;
	position: absolute;
	left: 1.83rem;
	top: 4.81rem;
	text-align: center;
	background-color: transparent;
	border: 0;
}

#wrapper .underline{
	width:2.62rem;
	height:0px;
	border:0.02rem solid rgba(237,223,229,1);
	opacity:1;
	position: absolute;
	left: 1.60rem;
	top: 5.54rem;
}

#wrapper .button {
	position: absolute;
	left: 2.04rem;
	top: 6.17rem;
	width:1.44rem;
	height:1.44rem;
	background:rgba(255,255,255,0.4);
	box-shadow:0px 0.03rem 0.06rem rgba(0,0,0,0.16);
	border-radius:50%;
	text-align: center;
	font-size:0.50rem;
	font-family:SourceHanSerifCN-Medium;
	font-weight:500;
	line-height:1.44rem;
	color:rgba(237,223,229,1);
	cursor: pointer;
	transform: scale(1);
	transition: color 0.5s, transform 0.5s;
}

#wrapper .button:hover {
	transform: scale(1.05);
	color: #FFFFFF;
	transition: color 0.5s, transform 0.5s;
}

