@font-face {
    font-family: 'PangMenZhengDao-Cu';
    src: url('../../font/PangMenZhengDao-Cu.ttf')
}

@font-face {
    font-family: 'SourceHanSerifCN-Medium';
    src: url('../../font/SourceHanSerifCN-Medium.otf')
}

@font-face{
	font-family: 'French Script Mt';
	src : url(../../font/FrenchScriptMT.ttf);
} 

@font-face {
    font-family: 'SourceHanSansCN-Bold';
    src: url(../../font/SourceHanSansCN-Bold.otf);
}

@font-face {
    font-family: 'iconfont';
    src: url('../../font/iconfont.eot');
    src: url('../../font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../../font/iconfont.woff2') format('woff2'),
        url('../../font/iconfont.woff') format('woff'),
        url('../../font/iconfont.ttf') format('truetype'),
        url('../../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 1.6rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}